/* font styles */
@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 35px 150px;
}
nav button {
  height: 30px;
  width: 128px;
  border: 1px solid reg(13, 19, 33);
  border-radius: 5px;
  opacity: 0.8;
}
main {
  padding: 0 150px;
}

.banner-section-container {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 700px;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.banner-image-container {
  margin: 0 auto;
  width: 240.28px;
  height: 240px;
  margin-top: -120px;
}

.banner-text-container {
  display: flex;
  justify-content: center;
}

.banner-text-container div {
  width: 900px;
  height: 136px;
  text-align: center;
}
.banner-text-container h2 {
  font-size: 48px;
  color: reb(13, 19, 33);
  font-weight: 800;
  line-height: 68px;
}
.banner-text-container p {
  color: rgb(76, 79, 87);
  font-size: 16px;
  font-weight: 400;
  margin-top: 24px;
}
.banner-btn {
  padding: 16px 22px;
  margin-top: 32px;
  border: none;
  background-color: rgb(13, 19, 33);
  color: white;
}

.web-development-container {
  height: 1395px;
  margin: 0 auto;
  margin-top: 74px;
  background-color: rgba(41, 50, 70, 0.02);
  padding: 80px 97px;
}

.web-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: rgb(44, 51, 66);
  font-size: 16px;
  font-weight: 400;
  gap: 24px;
  margin-bottom: 48px;
}

.banner-text-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
  gap: 99px;
  padding: 48px 0px;
}
.banner-text-content .text-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  margin: 2px auto;
  height: 100%;
}

.text-content h4 {
  width: 390px;
  height: 72px;
  color: rgba(13, 19, 33, 0.7);
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: left;
}
.text-content p {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  margin-top: 16px;
}
.text-content button {
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  text-align: center;
  box-sizing: border-box;
  border: 1px solid rgb(13, 19, 33);
  opacity: 0.7;
  height: 48px;
  width: 150px;
  margin-top: 32px;
}

.banner-text-content img {
  width: 223.2px;
  height: 208.85px;
}

.inspiration-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inspiration-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 88px;
  margin-bottom: 48px;
}

.inspiration-text-container h2 {
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 24px;
}

.inspiration-text-container p {
  color: rgb(13, 19, 33);
  font-size: 16px;
  text-align: center;
  width: 852px;
  font-weight: 400;
}

iframe {
  border-radius: 10px;
  overflow: hidden;
}

.current-container {
  display: flex;
  justify-content: space-between;
  text-align: center;
  flex-direction: column;
  margin-top: 100px;
}

.current-container h1 {
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 24px;
}
.current-container-content {
  display: flex;
  justify-content: space-between;
  margin-top: 48px;
  gap: 24px;
}

.current-container-content > div {
  text-align: left;
  padding: 40px;
  width: 364px;
  height: 300px;
  border-radius: 16px;
}

.current-container-content img {
  width: 40px;
  height: 29px;
  left: 27.98px;
  top: 19.28px;
}

.current-container-content h2 {
  color: rgb(13, 19, 33);
  font-size: 24px;
  font-weight: 800;
  line-height: 36px;
  margin-top: 24px;
}

.current-container-content p {
  color: rgb(54, 59, 70);
  font-size: 16px;
  font-weight: 400;
  margin-top: 8px;
}

.current-container-content h5 {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 700;
  margin-top: 24px;
  text-decoration: underline;
}
.one {
  background-color: rgba(255, 76, 30, 0.05);
}

.two {
  background-color: rgba(0, 76, 232, 0.05);
}

.three {
  background-color: rgba(255, 223, 0, 0.05);
}

.next-target-container {
  color: rgb(13, 19, 33);
}
.next-target-container h2 {
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
  letter-spacing: 0%;
  text-align: center;
  margin-top: 110px;
  margin-bottom: 24px;
}

.next-target-container > div > p {
  text-align: center;
}

.next-target-container > p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
}

.next-target-content {
  margin-top: 48px;
}

.next-target-content img {
  min-width: 140px;
}

.next-target-content > div {
  display: flex;
  gap: 24px;
  padding: 40px;
  border: 1px solid rgba(13, 19, 33, 0.15);
  border-radius: 16px;
  background: rgb(255, 255, 255);
  text-align: left;
  margin-top: 24px;
}

.next-target-content > div > div {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.next-target-content h5 {
  text-decoration: underline;
}

.support-container {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: whitesmoke;
  text-align: center;
  padding: 48px;
  border-radius: 16px;
  font-family: "Azeret Mono";
  margin-top: 40px;
}
.support-container h2 {
  font-size: 32px;
}
.support-container p {
  color: rgb(255, 255, 255);
  font-size: 16px;
  margin-top: 24px;
  opacity: 0.7;
  margin-bottom: 30px;
}
.support-container input {
  padding: 20px;
  border: 1px solid rgba(13, 19, 33, 0.15);
  border-radius: 8px;
  background: rgb(255, 255, 255);
  width: 548px;
}
.support-container button {
  padding: 17px 20px;
  border-radius: 8px;
  background: rgb(255, 255, 255);
  border: none;
  color: rgb(13, 19, 33);
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  margin-left: 36px;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 16px;
  background: rgba(13, 19, 33, 0.03);
  padding: 32px 150px;
  margin-top: 120px;
}
footer p {
  color: rgb(13, 19, 33);
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
}
footer img {
  margin-left: 24px;
}
