/* font styles */
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "Poppins", sans-serif;
}

nav{
display: flex;
align-items: center;
justify-content: space-between;
padding: 20px;
}
nav button{
    height: 30px;
    width: 128px;
    border: 1px solid reg(13,19,33);
    border-radius: 5px;
    opacity: 0.8;

}
main{
    padding: 120px;
}


.banner-section-container{
    max-width: 1495px;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url('/assets/Hero-bg.png');
    
    
}

.banner-image-container{
    margin: 0 auto;
    width: 240.28px;
    height: 240px;
    margin-top: -120px;
}

.banner-text-container{
    display: flex;
    justify-content: center;
}

.banner-text-container div{
    width: 900px;
    height: 136px;
    text-align: center;
}
.banner-text-container h2{
    font-size: 48px;
    color: reb(13,19,33);
    font-weight: 800;
    line-height: 68px;
}
.banner-text-container p{
    color: rgb(76, 79, 87);
    font-size: 16px;
    font-weight: 400;
    margin-top: 24px;

}
.banner-btn{
    padding: 16px 22px;
    margin-top: 32px;
    border: none;
    background-color: rgb(13, 19, 33);
    color: white;
}

.web-development-container{
    height: 1395px;
    margin: 0 auto;
    margin-top: 74px;
    background-color: rgba(41, 50, 70, 0.02);
    padding: 80px 97px;
}

.web-text-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: rgb(44, 51, 66);
    font-size: 16px;
    font-weight: 400;
    gap: 24px;
    margin-bottom: 48px;
}

.banner-text-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
    gap: 99px;
    padding: 48px 0px;
    
}
.banner-text-content .text-content{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    margin: 2px auto;
    height: 100%;

}

.text-content h4{
    width: 390px;
    height: 72px;
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
}
.text-content p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    margin-top: 16px;
}
.text-content button{
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    height: 48px;
    width: 150px;
    margin-top: 32px;

    
}

.banner-text-content img{
    width: 223.2px;
    height: 208.85px;
}

.inspiration-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

